<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>아이템 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/addItem}'|"
                    type="button" >아이템 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>NO.</th>
                <th>제목</th>
                <th>컨텐츠</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itemList}">
                <td th:text="${item.id}"></td>
                <td><a th:href="@{|/item/${item.getId()}|}" th:text="${item.getTitle()}"></a></td>
                <td th:text="${item.content}"></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/}'|"
                        type="button" >홈으로 이동</button>
            </div>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>