<!DOCTYPE HTML>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<title>TRIPLANNER</title>
		<meta charset="utf-8" />
		<link href="css/index.css" rel="stylesheet">
	</head>
	<body>
		<p style="padding: 10px; color: white; font-size: 35px; border: 5px solid white; position: fixed; left: 5%; top: 3%; z-index: 999;">TRIPLANNER</p>
		<div class="frame">
			<button onclick="window.location.href = 'http://localhost:5173'" style="font-size: 40px; padding-top: 20px" class="be custom-btn btn-6"><span>GET START!</span></button>
		</div>
			<a href="/logout" style="color: white; text-decoration-line: underline;
		font-size: 20px; position: fixed;  left: 50%; top: 70%; z-index: 999; transform: translate(-50%, 0);">LOGOUT</a>
	</body>
</html>